# =========================
# Entornos y configuración
# =========================
.env
.env/
venv/
.venv/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# Datos (NO subir al repo)
# =========================
*.csv
*.json
*.xlsx
*.parquet
*.pkl
*.joblib
*.h5

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Sistema
# =========================
.DS_Store
Thumbs.db
